*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #212121;
    
}
.card{
    width: 90%;
    max-width: 470px;
    color: white;
    background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
margin: 100px auto 0;
border-radius: 20px;
padding: 40px 35px;
text-align: center;
}
.search{
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    height: 60px;
    padding: 10px 25px;
    color: #555;
    border-radius: 30px;
    margin-right: 16px;
    flex: 1;
    font-size: 18px;
}
.search button{
    border-radius: 50%;
    outline: 0;
    border: 0;
    background-color: #ebfffc;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button img{
    width: 21px;
}
.weather-icon{
    margin-top: 30px;
    width: 170px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    text-align: left;
    align-items: center;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity , .wind{
    font-size: 28px;
    margin-top: -6px;
}
.weather{
    display: none;
}
.error{
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 14px;
    display: none;
}